<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title>PairBnB</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/places/tabs/discover">
            <ion-icon name="business" slot="start" color="secondary"></ion-icon>
            <ion-label color="secondary">Discover places</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none"routerLink="/bookings">
            <ion-icon name="checkbox-outline" slot="start" color="secondary"></ion-icon>
            <ion-label color="secondary">My bookings</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
            <ion-item lines="none" (click)="onLogout()">
            <ion-icon name="exit" slot="start" color="secondary"></ion-icon>
            <ion-label color="secondary">Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
